@import "mixins";

button.new-parcel
{
    margin-top: 20px;

    border: 1px solid #147dff;
    padding: 10px 20px;
    font-size: 20px;

    border-radius: 5px;
    background-color: #3f93ff;

    cursor: pointer;

    span
    {
        display: block;
        position: relative;

        color: #fff;
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 0.03em;

        padding-left: calc(20px + 10px);

        &::before
        {
            content: '';

            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            width: 20px;
            height: 20px;
            background-image: url('/src/icons/plus.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}

div.income-date-wrapper
{
    border-top: 1px solid #333;
    padding-top: 5px;

    margin-top: 40px;

    p.date
    {
        font-size: 20px;
        font-weight: 700;

        margin-bottom: 15px;
    }
}

div.income-item
{
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 20px;

    margin-bottom: 30px;

    p.income-item-date
    {
        font-weight: 500;
        color: $mainTextColor;
        margin-bottom: 10px;
    }
}

div.incoming-list div.income-item:last-child
{
    margin-bottom: 0;
}

div.products
{
    div.income-item__product
    {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        background-color: #dbdbdb;
        border-radius: 10px;
        padding: 15px;

        margin-bottom: 15px;

        &:last-child
        {
            margin-bottom: 0;
        }

        img.product-photo
        {
            margin-right: 20px;
            width: 100px;
        }

        p.product-text__name
        {
            font-weight: 700;
            color: $mainTextColor;
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
}

div.new-income-parcel-modal
{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    min-height: 100vh;

    background-color: transparent;

    transition: all .3s;
}

div.modal-content
{
    position: absolute;
    left: 50%;
    top: -100vh;
    transform: translateX(-50%);

    width: 60%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #fff;
    border-radius: 20px;
    padding: 20px;

    transition: top .3s;

    div.content-wrapper
    {
        margin-right: 30px;
        flex-grow: 1;
    }

    h2.page-title
    {
        margin-top: 0;
        margin-bottom: 50px;
    }

    img#close-modal
    {
        transform: rotate(45deg);
        cursor: pointer;
    }
}

div.new-income-parcel-modal.opened
{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);

    div.modal-content
    {
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
    }
}

form.new-parcel-form
{
    width: 100%;
}

div.product-add-wrapper
{
    margin-bottom: 30px;

    div.input-wrapper
    {
        width: 100%;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;

        label
        {
            font-size: 16px;
        }

        input
        {
            border: 1px solid #333;
            padding: 7px 13px;
            font-size: 22px;
        }

        input[name="product-name[]"]
        {
            width: 100%;
            margin-top: 10px;
        }
    }
}