h2.page-title
{
    margin-bottom: 20px;
}

button#new-outcome
{
    margin-top: 20px;

    border: 1px solid #147dff;
    padding: 10px 20px;
    font-size: 20px;

    border-radius: 5px;
    background-color: #3f93ff;

    cursor: pointer;

    span
    {
        display: block;
        position: relative;

        color: #fff;
        font-weight: 500;
        font-size: 25px;
        letter-spacing: 0.03em;

        padding-left: calc(20px + 10px);

        &::before
        {
            content: '';

            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            width: 20px;
            height: 20px;
            background-image: url('/src/icons/plus.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}

div.outcoming-list
{
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

@media screen and (max-width: 1500px)
{
    div.outcoming-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1060px)
{
    div.outcoming-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

div.outcome-item
{
    background-color: #c4c4c4;
    padding: 20px;

    p.outcome-item__date
    {
        font-size: 13px;
        margin-bottom: 10px;
    }

    p.outcome-item__name
    {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 10px;
    }

    img.outcome-item__image
    {
        width: 200px;
        margin-bottom: 20px;
    }

    p.outcome-item__quantity
    {
        span
        {
            font-weight: 600;
            font-size: 18px;
        }
    }
}

div.outcome-modal
{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    visibility: hidden;

    background-color: transparent;

    transition: background-color .3s;

    &.showed
    {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.25);
    }
}

div.modal-content
{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;

    width: calc(768px - 40px);

    div.modal-title
    {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;

        img
        {
            transform: rotate(45deg);
            cursor: pointer;
        }
    }
}

div.input-wrapper
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    margin-bottom: 10px;

    &:last-child
    {
        margin-bottom: 0;
    }

    label
    {
        font-size: 17px;
    }

    p.remain-text span
    {
        font-weight: 500;
        font-size: 25px;
    }

    input
    {
        margin-left: auto;
        font-size: 20px;

        border: 1px solid #333;
        padding: 3px;
    }

    input[type="number"]
    {
        margin-left: 20px;
        width: 100px;
    }

    &:first-child 
    {
        input[type="number"]
        {
            margin-right: 40px;
        }
    }

    img
    {
        transform: rotate(45deg);
        margin-left: 20px;
        width: 20px;
        cursor: pointer;
    }
}

input[type="submit"]
{
    border: 1px solid #333;
    padding: 15px;
    border-radius: 5px;

    font-size: 14px;
    cursor: pointer;

    margin-top: 20px;

    transition: background-color .3s;
    
    &:hover
    {
        background-color: forestgreen;
        color: #fff;
    }
}

button#add-new-field
{
    margin-top: 10px;
    cursor: pointer;
}